.form {
    margin: auto;
}

.boxTable {
    border: 1px solid rgb(30, 30, 30);
}

.typeTable {
    text-transform: capitalize;
}

.titleTable {
    width: 150px;
    background-color: rgb(60, 60, 60);
    color: rgb(255, 255, 255);
}

.trTable {
    text-align: center;
    font-weight: 500;
}

.trTable:nth-child(2n) {
    background-color: rgb(200, 200, 200);
}